---
services:
  bind:
    image: docker-bind9:latest
    ports:
      - "53:53/udp"     # DNS
      - "53:53/tcp"     # DNS
    #  - "853:853/tcp"   # DoT
    #  - "8080:8080"     # Statistic
    #  - "953:953"       # mgmt
    restart: always
    volumes:
      - ./bind/dnssec/:/etc/bind/dnssec
      - ./bind/int/:/etc/bind/int
      - ./bind/named.conf:/bind/named.conf
    #  - ./ssl/:/etc/ssl/bind/
    #  - ./bind/acl.conf:/etc/bind/acl.conf
    #  - ./bind/option.conf:/bind/option.conf
    # environment:
    #   - ADBLOCK="true"
    #   - ADBLOCK_HOSTS_URL="https://raw.githubusercontent.com/StevenBlack/hosts/refs/heads/master/data/StevenBlack/hosts"
    #   - ADBLOCK_RPZ_FILE="/etc/bind/adblock/db.rpz.adblock"
